.hospital-list-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px;
  }
  
  .hospital-list {
    display: flex;
    position: relative;
    left: 400px; /* Initialize the position */
    transition: left 0.3s ease; /* Add smooth transition for scrolling */
  }
  
  .hospital-item {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    min-width: 200px;
  }
  
  .hospital-item:hover {
    background-color: #f0f0f0;
  }
  